.generic
{
	&--padding
	{
		padding: 0 1.125rem 0 1.125rem;
	}

	p
	{
		font-weight: 300;
		line-height: 1.65;
		margin: 0 0 1.8rem 0;

		@mixin atSmall
		{
			font-size: 1.075rem;
		}
	}

	p a
	{
		font-weight: 800;
	}
}