.site-header
{
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 0;
	transition: background-color .3s ease-out;

	&--expanded
	{
		background-color: rgba($mainBlue, .7);
	}

	@mixin atMedium
	{
		position: fixed;
		background-color: rgba($mainBlue, .3);

		&--dark
		{
			background-color: rgba($darkBlue, .92);
		}
	}

	&__logo
	{
		position: absolute;
		z-index: 4;
		background-color: $mainBlue;
		padding: 17px 10px 20px 1px;
		top: 0;
		left: 50%;
		transform: translateX(-50%) scale(.8);
		transform-origin: 50% 0%;
		transition: transform 1s ease-out;

		@mixin atMedium
		{
			left: auto;
			transform: translateX(0);

			.site-header--dark &
			{
				transform: scale(.56);
			}
		}
	}

	&__logo div
	{
		left: 0;
		margin-left: 10px;

		@mixin atMedium
		{
			margin-left: 0;
			left: 8px;
		}
	}

	&__logo-graphic
	{
		text-indent: -9999px;
	}

	&__menu-icon
	{
		width: 20px;
		height: 20px;
		position: absolute;
		top: 10px;
		right: 10px;
		z-index: 3;

		&::before
		{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transform-origin: 0 0;
			transition: transform .5s ease-out;
		}

		&__mid
		{
			position: absolute;
			top: 8px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transition: all .5s ease-out;
		}

		&::after
		{
			content: "";
			position: absolute;
			top: 16px;
			left: 0;
			width: 20px;
			height: 3px;
			background-color: white;
			transform-origin: 0 100%;
			transition: transform .5s ease-out;
		}

		@mixin atMedium
		{
			display: none;
		}
	}

	&__menu-icon--x
	{
		&::before
		{
			transform: rotate(45deg) scaleX(1.25);
		}

		.site-header__menu-icon__mid
		{
			opacity: 0;
			transform: scaleX(0);
		}

		&::after
		{
			transform: rotate(-45deg) scaleX(1.25) translateY(1px);
		}
	}

	&__btn-content
	{
		@mixin atMedium
		{
			float: right;
		}
	}

	&__menu-content
	{
		opacity: 0;
		transition: all 1s ease-out;
		position: relative;
		z-index: -10;
		padding-top: 90px;
		text-align: center;
		top: -160px;

		&--visible
		{
			z-index: 1;
			opacity: 1;
			top: 0;
			transition: all 1s ease-out;
		}

		@mixin atMedium
		{
			opacity: 1;
			z-index: 1;
			top: 0;
			transition: opacity 1s ease-out;
			padding-top: 0;
		}
	}
}