.social-icons
{
	text-align: center;
	padding-top: .2rem;

	@mixin atSmall
	{
		padding-top: 1.6rem;
	}

	&__icon
	{
		background-color: $mainOrange;
		display: inline-block;
		position: relative;
		width: 48px;
		height: 48px;
		margin: 0 5px 5px 5px;

		@mixin atSmall
		{
			width: 72px;
			height: 72px;
			margin: 0 5px;
		}

		.icon
		{
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%) scale(.66);

			@mixin atSmall
			{
				transform: translate(-50%, -50%) scale(1);
			}
		}
	}
}