.wrapper
{
	overflow: hidden;
	max-width: 1236px;
	margin-left: auto;
	margin-right: auto;

	&--medium
	{
		max-width: 976px;
	}

	&--narrow
	{
		max-width: 470px;
	}

	&--no-padding-until-medium
	{
		padding-left: 0;
		padding-right: 0;

		@mixin atMedium
		{
			padding-left: 1.8rem;
			padding-right: 1.8rem;
		}
	}

	&--no-padding-until-large
	{
		padding-left: 0;
		padding-right: 0;

		@mixin atLarge
		{
			padding-left: 1.8rem;
			padding-right: 1.8rem;
		}
	}

	&--bmargin
	{
		margin-bottom: 1rem;

		@mixin atSmall
		{
			margin-bottom: 3.875rem;
		}
	}

	.wrapper
	{
		padding-left: 0;
		padding-right: 0;
	}

	.row
	{
		@mixin atMedium
		{
			padding: 9rem;
		}

		@mixin atLarge
		{
			padding: 0;
		}
	}
}